.latestBlock,
.header {
  text-align: center;
  font-size: 3rem;
}
.header {
  margin: 4rem 0;
}
.transactions {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.transactionWrapper {
  margin: 1rem 0;
  border: 1px solid #b25ff3;
  box-shadow: #b25ff3 1px 1px 2px;
  width: 48%;
  padding: 1rem 0;
}
.transaction {
  width: 100%;
  text-align: center;
}
.transaction div:nth-child(2) {
  margin: 1rem 0;
}
.transaction a {
  color: #b25ff3;
}
